# MAMP spezifische Dateien und Verzeichnisse
.DS_Store
Thumbs.db

#Test Dateien
Test*.html
*sic*


# PHP spezifische Dateien
*.log
*.cache

# Composer
/vendor/
/composer.lock

#python
/bin
/lib
pyvenv.cfg

# Umgebungsdateien
.env
.env.local 

# IDEs und Editoren
/.idea/
/.vscode/
/*.sublime-workspace
/*.sublime-project

# Betriebssystem spezifisch
ehthumbs.db
Icon?
gen_callsigns_new.py
rufzeichen_international.json
